<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coremasterkb.serving.mapper.AssetDocumentMapper">

    <resultMap id="docSourceResult"
               type="com.coremasterkb.serving.mapper.result.DocumentSourceRow">
        <result column="id"            property="id"/>
        <result column="document_key"  property="documentKey"/>
        <result column="relative_path" property="relativePath"/>
        <result column="title"         property="title"/>
        <result column="scope_json"    property="scopeJson"/>
    </resultMap>

    <select id="selectDocumentSources" resultMap="docSourceResult">
        SELECT d.id,
               d.document_key,
               dsl.relative_path,
               ds.title,
               ds.scope_json
        FROM asset_documents d
        LEFT JOIN asset_document_snapshot_links dsl ON d.id = dsl.document_id
        LEFT JOIN asset_document_snapshots ds       ON dsl.document_snapshot_id = ds.id
        WHERE d.id IN
        <foreach collection="documentIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        <if test="snapshotIds != null and snapshotIds.size() > 0">
        AND dsl.document_snapshot_id IN
        <foreach collection="snapshotIds" item="sid" open="(" separator="," close=")">
            #{sid}
        </foreach>
        </if>
    </select>

</mapper>
