<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coremasterkb.serving.mapper.ServingQueryLogMapper">

    <insert id="insert" parameterType="com.coremasterkb.serving.entity.ServingQueryLog">
        INSERT INTO serving_query_logs (
            id, query_text, domain, channel,
            intent, normalizer_source, keywords_json, entities_json, scope_json,
            release_id, build_id, snapshot_count,
            result_item_count, result_seed_count, result_has_result, result_issues_json,
            result_items_json, result_sources_json, result_relations_json,
            duration_ms, queried_at, metadata_json
        ) VALUES (
            #{id}, #{queryText}, #{domain}, #{channel},
            #{intent}, #{normalizerSource}, #{keywordsJson}, #{entitiesJson}, #{scopeJson},
            #{releaseId}, #{buildId}, #{snapshotCount},
            #{resultItemCount}, #{resultSeedCount}, #{resultHasResult}, #{resultIssuesJson},
            #{resultItemsJson}, #{resultSourcesJson}, #{resultRelationsJson},
            #{durationMs}, #{queriedAt}, #{metadataJson}
        )
    </insert>

</mapper>
